name: check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@315f2ec17d93c978e1e433247fec64ca1b79b01e # v1.0.3

      - name: Run checks
        run: nix flake check
