name: vulnerable

on:
  schedule:
    - cron: "0 9 * * *" # every day at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@315f2ec17d93c978e1e433247fec64ca1b79b01e # v1.0.3
        with:
          shell: ci

      - name: Check flake
        run: flake-checker -f
